# Prerequisites
*.d

# Object files
*.o
*.ko
*.elf

# Libraries
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.so
*.so.*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
build/
